button
{
    font-size: 13px;
    transition: background-color 0.3s;
    width: 20px;
}

button.active
{
    background-color: black;
    color: white;
}

button:not(:active)
{
    background-color: black;
    color: white;
}